body{
    margin: 0;
    background: #e7f9fc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
/* Header */
header{
    background: dodgerblue;
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}
header h1{
    margin: 0;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
}
nav{
    text-align: center;
    margin-top: 10px
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}
nav a:hover{
    color: yellow;
}
/* Footer */
footer{
    background-color: #343a40;
    color: #ccc;
    padding: 15px 0;
    text-align: center;
    margin-top: 220px;
    font-size: 20px;
    box-shadow: 0 -2px 8px rgb(0, 0, 0, 0.1);
}
footer p{
    margin: 0;
}
/* flash message */
.flash.success{color: green;}
.flash.danger{color: red;}
.flash.info{color: cornflowerblue;}

/* Login form */
.login-box{
    max-width: 500px;
    color: rgb(20, 15, 15);
    padding: 30px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 -2px 8px rgb(0, 0, 0, 0.1);
}
.login-box h2{
    text-align: center;
    margin-bottom: 20px;
}
.register-box{
    max-width: 500px;
    color: rgb(20, 15, 15);
    padding: 30px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 -2px 8px rgb(0, 0, 0, 0.1);
}
.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}
.form-group input{
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 6px;
}
.btn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.btn :hover{
    background-color: #33aeff;
}
.task-box{
    max-width: 700px;
    padding: 25px;
    margin: 40px 0;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgb(0, 0, 0, 0.1);
}
.task-form{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}
.task-form input[type="text"]{
    flex: 1;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.task-form .btn{
    padding: 12px 20px;
    font-size: 15px;
}
.task-table{
    width: 100%;
    border-collapse: collapse;
}
.task-table th,
.task-table td{
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
.task-table th{
    background-color: #f2f2f2;
}
.no-task{
    color: red;
}   
.btn-delete{
    background-color: red;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}
.btn-delete:hover{
    background-color: darkred;
}
.badge{
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
    color: white;
}
.badge.pending{
    background-color: #ffc107;
}
.badge.working{
    background-color: #17a2b8;
}
.badge.done{
    background-color: limegreen;
}
.btn-small{
    font-size: 11px;
    padding: 6px 12px;
    border: none;
    color: white;
    border-radius: 4px;
    background-color: #8ac2eb;
    cursor: pointer;
}
.btn-small:hover{
    background-color: #268ff8;
}
.btn-clear{
    background-color: #f33346;
    margin-bottom: 10px;
    color: #fff;
}
.btn-clear:hover{
    background-color: #f40b0b;
}
.btn-danger{
    background-color: red;
    color: white;
    padding: 7px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid rgb(17, 15, 15);
    cursor: pointer;
}